<ion-content>
  <div class="bg-img">
    <ion-card>
      <ion-card-header>
        <ion-card-title align="center"> Login </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Email: </ion-label>
          <ion-input type="email" clearInput placeholder="Enter The Email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password: </ion-label>
          <ion-input type="password" clearInput placeholder="Enter The Password" required></ion-input>
        </ion-item>

        <div class="Login">
          <button ion-button > Login </button>
        </div>
   
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
