<ion-content color="secondary">
  <ion-card class=" ion-margin">
    <ion-card-header class="ion-text-center">
      <ion-card-title> Signin </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-padding-horizontal">
      <form #singInForm="ngForm" (ngSubmit)="onLogin()">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Email: </ion-label>
            <ion-input type="email" name="email" [(ngModel)]="auth.email" clearInput required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password: </ion-label>
            <ion-input [type]="isVisible ? 'text' : 'password'" name="password" [(ngModel)]="auth.password"
              clearInput required></ion-input>
            <ion-icon class="icon" (click)="togglePasswordFieldType()" [name]="isVisible ? 'eye-off' : 'eye'" slot="end">
            </ion-icon>
          </ion-item>

          <div class="ion-margin-top">
            <ion-button slot="end" type="submit" expand="block" [disabled]="!singInForm.valid"
              routerLink="/dashboard/tabs/shopping">Signin</ion-button>
          </div>

          <ion-grid>
            <ion-row>
              <ion-col>
                <h6> Sign Up? </h6>
              </ion-col>
              <ion-col class="ion-text-end">
                <h6>Forgot Password?</h6>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>