<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title> Shopping List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #ShoppingListForm="ngForm" (ngSubmit)="onAddItem(ShoppingListForm.value)">
    <ion-list>
      <ion-item>
        <ion-label position="fixed"> Name </ion-label>
        <ion-input type="text" name="name" [(ngModel)]="shoppingList.name" placeholder="Milk" clearInput required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed"> Amount </ion-label>
        <ion-input type="number" name="amount" [(ngModel)]="shoppingList.amount" placeholder="35" clearInput required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" [disabled]="!ShoppingListForm.valid">
      add Item
    </ion-button>
  </form>

  <ion-list class="scroll-items">
    <ion-item *ngFor="let i = index; let item of savedList">
      <h5>{{ item.name }} <span> {{ item.amount }} </span></h5>
      <ion-button slot="end" (click)="deleteActionSheet(i)" color="secondary">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

</ion-content>