.scroll-items {
  height: 60vh;
  overflow: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.action-sheets-basic-page {
  .ion-md-share {
    color: #ed4248;
  }
  .ion-md-arrow-dropright-circle {
    color: #508ae4;
  }
  .ion-md-heart-outline {
    color: #31d55f;
  }
  .action-sheet-cancel ion-icon,
  .action-sheet-destructive ion-icon {
    color: #757575;
  }
}
